<div class="home-content-container fade-in-down-animation">
    <% if (theme?.home?.announcement) { %>
        <div class="website-announcement border-box">
            <i class="icon left fa-solid fa-bullhorn"></i>
            <div class="announcement border-box text-ellipsis">
                <%- markdown(theme?.home?.announcement) %>
            </div>
            <i class="icon right close fa-solid fa-close"></i>
        </div>
    <% } %>
        <div class="article_container">
            <div class="container">
                <div class="article_lists clearfix">
                    <% page.posts.forEach(post => { %>
                        <div class="article_items yu13_card_5 yu13_translatey_3 fade-in-down-animation">
                            <% if (post?.home_cover) { %>
                                <div class="article_pic">
                                    <img class="lazyload" src="<%- url_for(post.home_cover) %>" alt="">
                                </div>
                            <% } %>
                            <div class="article_content">
                                <h2 class="title yu13_clamp_2"></h2>
                                <h3>
                                    <a href="<%- url_for(post.path) %>" title=""> <%= post.title %></a>
                                </h3>
                                <%- partial('_partial/post/post-meta-info', { post: post, page_type: 'home' }) %>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
<!--    <ul class="home-post-list border-box">-->
<!--        <% page.posts.forEach(post => { %>-->
<!--            <li class="home-post-item">-->

<!--                <% if (post?.home_cover) { %>-->
<!--                    <div class="home-post-item-top border-box"-->
<!--                         style="height: <%= post?.home_cover_height ? post?.home_cover_height + 'px' : '10rem' %>"-->
<!--                    >-->
<!--                        <% if (post.sticky) { %>-->
<!--                            <div class="post-sticky-box cover">-->
<!--                                <i class="fas fa-thumbtack"></i><span class="sticky-name">&nbsp;<%- __('top') %></span>-->
<!--                            </div>-->
<!--                        <% } %>-->
<!--                        <img class="home-cover" src="<%- url_for(post.home_cover) %>"-->
<!--                             onerror="this.style.display='none'"-->
<!--                        >-->
<!--                    </div>-->
<!--                <% } %>-->

<!--                <div class="home-post-item-bottom border-box">-->
<!--                    <% if (post.sticky && !post?.home_cover) { %>-->
<!--                        <div class="post-sticky-box card">-->
<!--                            <i class="fas fa-thumbtack"></i><span class="sticky-name">&nbsp;<%- __('top') %></span>-->
<!--                        </div>-->
<!--                    <% } %>-->
<!--                    <h3 class="home-post-title border-box">-->
<!--                        <a href="<%- url_for(post.path) %>">-->
<!--                            <%= post.title %>-->
<!--                        </a>-->
<!--                    </h3>-->

<!--                    <div class="home-post-content keep-markdown-body">-->
<!--                        <% if (post.excerpt) { %>-->
<!--                            <%- post.excerpt %>-->
<!--                        <% } else { %>-->
<!--                            <%- truncate(strip_html(post.content), { length: 128 }) %>-->
<!--                        <% } %>-->
<!--                    </div>-->

<!--                    <%- partial('_partial/post/post-meta-info', { post: post, page_type: 'home' }) %>-->
<!--                </div>-->
<!--            </li>-->
<!--        <% }) %>-->
<!--    </ul>-->

</div>
<%- partial('_partial/paginator', { page_info: page }) %>

<style>
.article_container{
  display: flex;
}
.article_container .container .article_lists{
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  flex-wrap: wrap; /* 自动换行 */
}
.article_container .container .article_lists:last-child {

}
  /* home 文章列表 Item */
  .article_items {
    float: left;
    background-color: #fff;
    border-radius: 10px;
    margin:10px;
    width: 20%;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    box-shadow: 0 0 8px var(--shadow-color);
    transition-delay: 0s, 0s, 0s, 0s, 0s;
    transition-timing-function: ease, ease, ease, ease, linear;
    transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
    transition-property: color, background, box-shadow, border-color, transform;
  }

  .article_items .article_pic {
    background-color: #ffffff;
    height: 0;
    overflow: hidden;
    padding-bottom: 60%;
    border-radius: 5px 5px 0 0;
  }

  .article_content {
    padding: 20px 10px;
  }

  .article_items .article_pic img {
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  .article_items .article_content .title {
    margin-top: 10px;
    font-size: 1.099rem;
  }

  .article_items .article_content  h3 {
    word-break: break-all;
    font-size: 15px;
    font-weight: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    padding: 0 8px;
    height: 44px;
    margin: 5px 0
  }

  .article_items .article_content  a {
    color: #616161;
    /* padding: 5px 0; */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
</style>
